.sliderItem {
    position:absolute;
    color: white;
    left: 0;
    right: 0;
    margin: auto;
    height: 400px;
    width:730px;
    object-fit: contain;
    object-position: 50% 50%;
    border: 1px solid #eee;
    border-radius: 4px;
}

.sliderItem.visible {
    opacity:1;
    transition:opacity 1s ease-in
}

.sliderItem.invisible {
    opacity:0;
    transition:opacity 1s ease-in
}